<html>
<head>
</head>
<body>

	<form method="get" action="/results/submit_person">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>City</td>
				<td><input type="text" name="city"></td>
			</tr>
			<tr>
				<td>Pin</td>
				<td><input type="text" name="pin"></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td><input type="text" name="phone"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"></td>
			</tr>
		</table>
		<input type="submit" value="Register"/> 
	</form>

</body>
</html>